@font-face {
    font-family: ogg-roman;
    src: local(ogg-roman), url('fonts/ogg-roman.otf') format('opentype');
}
@font-face {
    font-family: apercu-mono;
    src: local(apercu-mono), url('fonts/apercu-mono.otf') format('opentype');
}
@font-face {
    font-family: apercu-regular;
    src: local(apercu-regular), url('apercu-regular.otf') format('opentype');
}

body {
    font-family: 'apercu-mono', sans-serif;
    margin: 0;
}

header {
    display: flex;
}

#icon {
    height: 150px;
    position: fixed;
}

#navbar {
    writing-mode: vertical-rl;
    height: 100vh;
    position: fixed;
    text-align: center;
    justify-content: flex-end;
}

li {
    list-style: none;
    width: 5vh;
    font-kerning: 
}

#community {
    background-color: #f4b63f;
}
#retail {
    background-color: #e3534c;
}
#food {
    background-color: #6ea3e6;
}

.c1 {
    font-family: 'ogg-roman', serif;
    font-size: 3.5vh;
    justify-content: space-around;
    
}

.c1 h1 {
   columns: 1;
   margin: 15vh 15vh 0vh 5vh;
   line-height: 8vh;
}

.c2 {
    display: flex;
    justify-content: flex-start;
}

#image1 {
    width: 94vh;
    margin: none
    height: 60vh;
}

.c3 {
    display: flex;
    justify-content:flex-start;
    margin-left: 5vh;
    font-family: 'ogg-roman', serif;
    font-size: 5vh;
    margin-right: 40vh;
}

.c5 {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    margin-right: 15vh;
    columns: 3;
}

.c5 img {
    width: 25vh;
    margin-right: 3vh;
    
}

.c8 {
    width: 25vh;
    height: 20vh;
    margin-right: 5vh;
}

.c13 {
    display: flex;
    justify-content: space-between;
    margin: 0 18vh 0 3vh;
    font-family: 'ogg-roman', serif;
    font-size: 5vh
}


.c14 {
    display: flex;
    justify-content: space-around;
    margin: 0 18vh 0vh 5vh;
    border-bottom: dashed;
    border-top: dashed;
    padding: 3vh
}

.c15 {
    display: flex;
    justify-content: center;
    margin-right: 18vh;
}

.c15 span {
    margin-top: -2vh;
    border: 1px solid;
    padding: 2vh 4vh;
    background-color: white;
}

.c16 {
    display: flex;
    justify-content: space-around;
}

.c17 {
    border: solid 1px;
    /*padding: 5vh;*/
    height: 20vh;
    width: 20vh;
}

.c16 span {
    border: solid 1px;
   /* padding: 5vh 5vh 5vh 5vh;*/
    height: 20vh;
    width: 20vh;
    margin-right: 5vh;
}
.c18 {
    display: flex;
    border-bottom: dashed;
    border-top: dashed;
    margin: 5vh 18vh 0vh 3vh;
    /*margin-right: 15vh;*/
    height: 8vh;
    justify-content: center;
    text-align:center;
    line-height: 5vh;
}
.c19 {
    display: flex;
    justify-content: space-between;
    margin: 5vh 18vh 5vh 3vh;
}

.sm1 {
    border: dashed;
    /*padding: 5vh;*/
    width: 22.33333vh;
    text-align: center;
    line-height: 15vh;
}

.sm2 {
    border: dashed;
    /*padding: 5vh;*/
     width: 22.33333vh;
    text-align: center;
    line-height: 15vh;
}

.sm3 {
    border: dashed;
        /*padding: 5vh;*/
     width: 22.33333vh;
    text-align: center;
    line-height: 15vh;
}
.c20 {
    display: flex;
    justify-content: space-around;
    width: 85vh;
    margin: 1vh 15vh 0vh 0;
    font-size: 1vh
}

.c20 span {
    text-decoration: line-through;
}

.link {
    text-decoration: underline;
}

.news {
    display: flex;
    justify-content: flex-start;
    border: dashed;
    padding: 5vh;
    margin: 0 18vh 0 3vh
}
